################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IG2_Buildtool/obj
/IG2_Buildtool/bin
/.vs
